.landing-page {
    height: calc(100vh - 50px);
    background-image:url(https://picsum.photos/1920/1080);
    background-position: center;
    background-size: cover;
    font-size: 18px;
}

.landing-page-shadow {
    height: 100%;
    background-color: rgba (0, 0, 0, .5);
}

.container-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 50vh;
    padding-top: 20vh;
}

.button {
    width: 164px;
    height: 40.74px;
    border: 3px solid #FFF;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    line-height: 40px;
}

.landing-page h1, .landing-page h2 {
    color: white;
}

@media screen and (min-width: 768px) {
    .container {
        width: 90%;
    }
}    
    
@media screen and (min-width: 1024px) {
    .container {
        width: 960px;
    }

    .button:hover {
        background-color: #FFF;
        color: #000;
        transition: 1s;    
    }
}