.container {
    width: 94%;
    margin: 0 auto;
}

footer {
    height: 80px;
    background-color: #4E4E4E;
    font-size: 14px;
    color: white;
}

footer .container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

span {
    text-align: center;
    margin-bottom: 5px;
}

.social-media-icons {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 40px;
}

.social-media-icon-square {
    width: 25px;
    height: 25px;
}

img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

@media screen and (min-width: 768px) {
    .container {
        width: 90%;
    }
    
    footer {
        height: 50px;
        font-size: 18px;
     }

    footer .container-flex {
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    } 

    .social-media-icons {
        width: 10%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 960px;
    }
}